- title "Notes made on #{ActiveSupport::Inflector.ordinalize(@date.strftime('%e'))} #{@date.strftime('%B')}"

%ul.navigation-actions
  %li.previous
    - previous_day = @date - 1.day
    = link_to 'previous day', daily_diary_url(previous_day.month, previous_day.day)
  %li
    = link_to 'Add a note on this day', new_note_path(date: @date.strftime('%Y-%m-%d'))
  %li.next
    - next_day = @date + 1.day
    = link_to 'next day', daily_diary_url(next_day.month, next_day.day)

.notes= render @notes
