.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to 'Five Year Diary', root_path, class: 'brand'

      %ul.nav
        %li
          = link_to 'Home', root_path

        - if user_signed_in?

          %li
            = link_to 'Add a note', new_note_path

          %li.dropdown
            = link_to 'View', '#', class: 'dropdown-toggle'
            %ul.dropdown-menu
              - date = DateTime.current
              %li= link_to 'Today', daily_diary_path(date.strftime('%B').downcase, date.day)
              %li= link_to 'This week', week_diary_path(date.strftime('%G'), date.strftime('%V').to_i)
              %li= link_to "Day #{date.day} of each month", day_of_month_diary_path(date.day)

              %li.divider

              - %w(Mondays Tuesdays Wednesdays Thursdays Fridays Saturdays Sundays).each do |week_day|
                %li= link_to week_day, week_day_diary_path(week_day.downcase)

      = render partial: 'shared/authentication'
