- title 'Edit settings'

= simple_form_for @setting, url: settings_path, method: :put do |f|

  = f.input :time_zone, priority: /US|London/, input_html: {class: 'xxlarge'}, hint: "Currently #{current_user.time_zone} where it is #{I18n.l Time.zone.now, format: :long}"

  .form-actions
    = f.button :submit, 'Update settings', class: 'btn-primary'
