!!!
%html

  %head
    %title
      = content_for?(:title) ? yield(:title) : "Welcome!"
      = " - "
      Five Year Diary

    %meta(name="viewport" content="width=device-width")

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render partial: 'shared/analytics'

  %body
    = render partial: 'shared/navigation'

    .container-fluid
      .content
        .page-header
          - if content_for?(:title)
            %h1= yield(:title)

        - flash.each do |type, message|
          %div(class="alert alert-#{twitter_blueprint_alert_type(type)}")= message


        = yield

    %footer
      %p
        What would you like to see? Contact me
        = link_to '@sermoa', 'http://twitter.com/sermoa'
        with your ideas.
