!!!
%html

  %head
    %title Five Year Calendar
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render :partial => 'shared/authentication'

    - flash.each do |type, message|
      %div(class=type)= message

    = yield
