!!!
%html

  %head
    %title Five Year Calendar
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - if user_signed_in?
      = link_to 'Sign out', sign_out_path

    - flash.each do |type, message|
      %div(class=type)= message

    = yield
