!!!
%html

  %head
    %title
      = content_for?(:title) ? yield(:title) : "Welcome!"
      = " - "
      Five Year Calendar

    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render partial: 'shared/navigation'

    .container-fluid
      - flash.each do |type, message|
        %div(class=type)= message

      - if content_for?(:title)
        %h2= yield(:title)

      = yield
